   <script>
$(function (){
$(".contents:gt(0)").css("display","none");

$("#tab li").click(function() {
var num = $("#tab li").index(this);
$("#tab li").removeClass("now");
$(this).addClass("now");

$(".contents").css("display","none");
$(".contents").eq(num).css("display","block");
});
});
    </script>
 


    <!-- Header Section Start -->
    <header id="home" class="top-area parallax">
        <!-- Header Area Start -->
        <div class="header-area" >
            <!-- Container Start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="mainmenu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> 
                                </button>

                                <!-- Site Logo Start -->
                                <div class="logo">

                                <%= link_to root_path do %><span>s</span>alon de Corron<% end %>
                                </div>

                            </div>
                            <!-- Navbar Start -->
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <div class="main-menu">
                                    <ul class="nav navbar-nav">
                                        <li class="active smooth-menu"><%= link_to "Home", :root %></li>
                                        <li class="smooth-menu"><%= link_to "Services", :services %></li>
                                        <li class="smooth-menu"><%= link_to "Blogs", :blogs %></li>
                                        <li class="smooth-menu"><%= link_to "Contact", :inquiry %></li>
                                    </ul>
                                </div>
                            </div> <!-- End of Navbar -->
                        </div>
                    </div>
                </div>
            </div> <!-- End of Header Text Area -->
        </div> <!-- End of Header Text Area -->

        <!-- Header Text Area Start -->
        <div class="header-text-area text-left">
            <div class="header-text-content">
                <div class="container">
                    <div class="row">
                        <!-- Header Text -->
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div id="header-text" class="header-text">
                                <h2 class=" wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="1200ms">salon de Corron</h2>
                                <h3 class=" wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">ホッと一息 大人の隠れ家<br> 心の健康がつくる美しさをあなたに</h3>
                                <a href="/services/" class="header-btn2 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1800ms">menu</a>
                            </div>
                        </div> <!-- End of Header Text -->
                    </div> <!-- End of Row -->
                </div> <!-- End of Container -->
            </div> <!-- End of Header Text Content -->
        </div> <!-- End of Header Text Area -->

        <!-- Scroll Down Mouse Start -->
        <div class="scroll-down">

            <div class="mouse">
                <a href="#about" class="scroll-link"><span class="fa fa-circle"></span></a>
            </div>
            <h3>scroll down</h3>
        </div> <!-- End of Scroll Down Mouse End -->
    </header>
    <!-- End of Header Section -->
    
    <!-- Content Section Start -->
    <section id="content">


        <!-- Portfolio Section Start -->
        <div class="portfolio" id="portfolio">
            <div class="container">
                <!-- Section Title Start -->
                <!--<div class="row text-center section-title">

                    <div class="col-md-12">
                        <h3>our work</h3>
                        <div class="separator"></div>
                    </div>

                </div>--> <!-- End of Section Title -->
                <!-- Portfolio Filter Row Start -->
                <div class="row">
                    <div class="col-md-12">
                    <div id="tab">
                        <!-- Portfolio Filter Start -->
                        <div class="portfolio-filter text-center">

                            <ul class="nav">
                                <li class="active now" data-filter="*">all</li>
                                <li data-filter=".aroma">Aroma treatment</li>
                                <li data-filter=".accessories">Accessories</li>
                                <li data-filter=".goods">Goods</li>
                                <li data-filter=".school">School</li>
                            </ul>

                        </div> <!-- End of Portfolio Filter -->
                        </div>
                    </div>
                </div> <!-- End of Portfolio Filter Row -->

                <!-- Portfolio Items Row Start -->
                <div class="contents">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Items Start -->
                        <div class="porfolio-items">
                        <% @services.each do |m| %>
                            <!-- Single Portflio 1 Start -->
                            <div class="single-porfolio aroma">
                                <div class="img text-center">
                                    <% if m.service_image? %>
                                    <%= image_tag m.service_image.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                    <div class="porto-overlay"></div>
                                    <div class="porto-body">
                                        <div class="porto-text">
                                            <h4><%= m.name %></h4>
                                            <p><%= m.category %></p>
                                        </div>
                                        <div class="porto-icon">
                                            <%= link_to service_path(m) do %>
                                               <i class="fa fa-arrow-circle-right"></i>
                                               <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Single Portflio 1 -->
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

           <div class="contents">
           <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Items Start -->
                        <div class="porfolio-items">
                         <% @aroma.each do |m| %>
                            <!-- Single Portflio 1 Start -->
                            <div class="single-porfolio aroma">
                                <div class="img text-center">
                                    <% if m.service_image? %>
                                    <%= image_tag m.service_image.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                    <div class="porto-overlay"></div>
                                    <div class="porto-body">
                                        <div class="porto-text">
                                            <h4><%= m.name %></h4>
                                            <p><%= m.category %></p>
                                        </div>
                                        <div class="porto-icon">
                                            <%= link_to service_path(m) do %>
                                               <i class="fa fa-arrow-circle-right"></i>
                                               <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Single Portflio 1 -->
                            <% end %>
                          </div>
                        </div>
                    </div>
                    </div>

           <div class="contents">
           <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Items Start -->
                        <div class="porfolio-items">
                          <% @accessories.each do |m| %>
                            <!-- Single Portflio 1 Start -->
                            <div class="single-porfolio aroma">
                                <div class="img text-center">
                                    <% if m.service_image? %>
                                    <%= image_tag m.service_image.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                    <div class="porto-overlay"></div>
                                    <div class="porto-body">
                                        <div class="porto-text">
                                            <h4><%= m.name %></h4>
                                            <p><%= m.category %></p>
                                        </div>
                                        <div class="porto-icon">
                                            <%= link_to service_path(m) do %>
                                               <i class="fa fa-arrow-circle-right"></i>
                                               <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Single Portflio 1 -->
                            <% end %>
           </div>
       </div>
       </div>
       </div>

                  <div class="contents">
           <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Items Start -->
                        <div class="porfolio-items">
                          <% @goods.each do |m| %>
                            <!-- Single Portflio 1 Start -->
                            <div class="single-porfolio aroma">
                                <div class="img text-center">
                                    <% if m.service_image? %>
                                    <%= image_tag m.service_image.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                    <div class="porto-overlay"></div>
                                    <div class="porto-body">
                                        <div class="porto-text">
                                            <h4><%= m.name %></h4>
                                            <p><%= m.category %></p>
                                        </div>
                                        <div class="porto-icon">
                                            <%= link_to service_path(m) do %>
                                               <i class="fa fa-arrow-circle-right"></i>
                                               <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Single Portflio 1 -->
                            <% end %>
           </div>
       </div>
       </div>
       </div>

<div class="contents">
<div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Items Start -->
                        <div class="porfolio-items">
                        <% @school.each do |m| %>
                            <!-- Single Portflio 1 Start -->
                            <div class="single-porfolio aroma">
                                <div class="img text-center">
                                    <% if m.service_image? %>
                                    <%= image_tag m.service_image.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                    <div class="porto-overlay"></div>
                                    <div class="porto-body">
                                        <div class="porto-text">
                                            <h4><%= m.name %></h4>
                                            <p><%= m.category %></p>
                                        </div>
                                        <div class="porto-icon">
                                            <%= link_to service_path(m) do %>
                                               <i class="fa fa-arrow-circle-right"></i>
                                               <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Single Portflio 1 -->
                            <% end %>
           </div>
       </div>
       </div>
       </div>



            </div> <!-- End of Container -->
        </div>


        <!-- About Section Start -->
        <div class="about" id="about">
            <div class="container">
                <!-- About Content Start -->
                <div class="row about-content">
                    <!-- About Left Start -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-top">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <%= image_tag ("corron-broch.png")%></div>
                            <h5>整え、流す、本来の自分へ<br>京都北野の女性専用プライベートアロマサロン
                            </h5><br>
                            <h3><strong>salon de Corron</strong>
                            </h3>
                            <span>　ゆったりとした静かな癒し空間で<br>日常の喧騒を忘れ、本来の自分を取り戻す。<br><br>オールハンドのオイルトリートメントで<br>極上のリラクゼーションタイム。<br><br>仕事や家事、子育てと女性は毎日はたらきもの<br>心身ともに疲れ緊張していませんか？ <br><br>植物の力が詰まった精油と天然オイルのトリートメントで<br>身体と心を見つめ、いたわり、より自分らしく、自然体へ・・・</span>
                        </div>
                        <!--<div class="about-bottom">
                            <div class="skillbar-group">
                               
                                <div class="skillbar" data-percent="65">
                                    <span class="skillbar-title">PHP</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent">65%</span>
                                </div> 
                                <div class="skillbar" data-percent="80">
                                    <span class="skillbar-title">html</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent">80%</span>
                                </div> 
                                <div class="skillbar" data-percent="70">
                                    <span class="skillbar-title">bootstrap</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent">70%</span>
                                </div> 
                                <div class="skillbar" data-percent="93">
                                    <span class="skillbar-title">javascript</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent">93%</span>
                                </div> 
                            </div>
                        </div> -->
                    </div> <!-- End of About Left -->
                    <!-- About Right Column Start -->
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                        <!-- About Right Start -->
                        <div class="about-right">
                            <!-- Service 1 Start -->
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-tree" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4>Aroma treatment</h4><br>

                                    <p>その日の気分や身体の状態に応じた精油とオイルを使ったトリートメントで部分から全身まで優しくゆったり流します。<br><br>日常の緊張をときほぐし、心身ともにリラックスへと導きます。<br><br>オプションで、美構造フェイシャルの施術も受けていただけます。<br><br>姿勢や呼吸を整えお顔や身体のバランスを整える施術です。</p>
                                </div>
                            </div><br> <!-- End of Service 1 -->
                            <!-- Service 2 Start -->
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4>Accessories</h4><br>
                                    <p>京都西陣で機織りをしていた祖母の残してくれた色とりどりの絹糸で、アクセサリーを製作しています。<br><br>一本の糸より編み出す作品を通して、人とひととの繋がりや未来へ続く願いを籠めながら。<br><br>オーダーメイドもお受けいたします。</p>
                                </div>
                            </div><br> <!-- End of Service 2 -->
                            <!-- Service 3 Start -->
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4>School/Event</h4><br>
                                    <p>ハンドメイドコスメの出張レッスン<br><br>オイルトリートメント・美構造フェイシャルの施術<br><br>ハンドメイドコスメワークショップ等<br><br>個人レッスンはサロンでも行っておりますので、お気軽にお問い合わせください。</p>
                                </div>
                            </div> <!-- End of Service 3 -->
                            
                        </div> <!-- End of About Right -->
                    </div>  <!-- End of About Right Column -->
                </div> <!-- End of About Content -->
            </div> <!-- End of Container -->
        </div>
        <!-- End of About Section --> 


        <!-- Blog Section Start -->
        <div class="blog" id="blog">
            <div class="testimonial-bg"></div>
            <div class="container">
                <!-- Section Title Start -->
                <div class="row text-center section-title">
                    <div class="col-md-12">
                        <h3>Staff Blog</h3>
                        <div class="separator"></div>
                    </div>
                </div> <!-- End of Section Title -->
                <div class="row">
                    <!-- Blog Group Start -->
                    <div class="blog-group">
                        <% @blogs.each do |m| %>
                        <!-- Single Blog Column Start -->
                        <div class="col-md-4">
                            <!-- Single Blog 1 Start -->
                            <div class="single-blog">
                                <div class="img">
                                <% if m.blogimage? %>
                                    <%= image_tag m.blogimage.thumb.url, :class => "img-responsive" %>
                                    <% else %>
                                    <%= image_tag 'noimage.gif' %>
                                    <% end %>
                                </div>
                                <span><%= m.created_at %></span>
                                <%= link_to blog_path(m) do %><h4><%= m.title %></h4><% end %>
                                <p class="margin-bottom"><%= m.content.truncate(20) %></p>
                            </div> <!-- End of Single Blog 1 -->
                        </div> <!-- End of Single Blog Column -->
                        <% end %>
                    </div> <!-- End of Blog Group -->
                </div> <!-- End of Row -->
            </div> <!-- End of Container -->
        </div>
        <!-- End of Blog Section -->







       
        <!-- Process Area Start -->
        <div class="process-area">
            <div class="container">
                <!-- Section Title Start -->
                <div class="row text-center section-title">
                    <div class="col-md-12">
                        <h3>サービスフロー</h3>
                        <div class="separator"></div>
                    </div>
                </div> <!-- End of Section Title -->
                <!-- Process Row Start -->
                <div class="row">
                    <!-- Process Wrapper Start -->
                    <div class="process-wrapper">
                        <!-- Single Process Column Start -->
                        <div class="col-md-4">
                            <!-- Single Process Start -->
                            <div class="single-process">
                                <span>01　　　　＞</span>
                                <h4>ご予約・お問い合わせ</h4>
                                <p>　どんなサービスが受けられるのか、先ずはお気軽にお問い合わせください。お問い合わせフォーム、またはメールにてご要望をお伺いいたします。</p>
                            </div> <!-- End of Single Process -->
                        </div> <!-- End of Single Process Column -->
                        <!-- Single Process Column Start -->
                        <div class="col-md-4">
                            <!-- Single Process Start -->
                            <div class="single-process">
                                <span>02　　　　＞</span>
                                <h4>カウンセリング</h4>
                                <p>　当サロンでは、身体と心の状態に合わせて、あなたに適した施術を行います。事前にお電話、もしくは当日に、しっかりとカウンセリングを行い、施術の効果を高めさせていただきます。</p>
                            </div> <!-- End of Single Process -->
                        </div> <!-- End of Single Process Column -->
                        <!-- Single Process Column Start -->
                        <div class="col-md-4">
                            <!-- Single Process Start -->
                            <div class="single-process">
                                <span>03</span>
                                <h4>施術開始</h4>
                                <p>　心と身体がリラックスできるゆったりとした空間で、あなたの内面と優しく向き合う時間をお約束します。</p>
                            </div> <!-- End of Single Process -->
                        </div> <!-- End of Single Process Column -->
                    </div> <!-- End of Process Wrapper -->
                </div> <!-- End of Process Row -->
            </div> <!-- End of Container -->
        </div> 
        <!-- End of Promo Area -->
        <!-- Client Section Start -->
        <div class="client parallax" id="client">
            <div class="testimonial-bg"></div>
            <div class="container">
                <div class="row">
                    <!-- Client Group Start -->
                    <div class="col-md-12">
                        <!-- Client Group Column Start -->
                        <div class="client-group">
                            <!-- Single Client 1 Start -->
                            <div class="single-client text-center">
                                
                                <div class="client-img">
                                 <p class="trim-image-to-circle"></p>
                                </div>
                                <span>Therapist</span>
                                <h4><strong>Yuu Ueno</strong></h4><br><h4>Biography</h4><br>

                                <p>公益社団法人日本アロマ環境協会認定アロマテラピーインストラクター<br><br>マリアアグフローラルヒーリングアロマトリートメントアドバンス修了<br><br>ハンドメイドコスメ協会認定トータルスキンアドバイザー<br><br>
百天レイキセカンド修了</p>
                            </div> <!-- End of Single Client 1 -->

                        </div> <!-- End of Client Group Column -->
                    </div> <!-- End of Client Group -->
                </div> <!-- End of Row -->
            </div> <!-- End of Container -->
        </div>
        <!-- End of Client Section -->

        
        <!-- Promo Section Start -->
        <div class="promo text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>ご予約はこちらから</h3>
                    </div>
                </div>
            </div>
        </div> <!-- End of Promo Section -->
        
        <!-- Contact Section Start -->
        <div class="contact" id="contact">
            <div class="overly"></div>
            <div class="container">
                <!-- Section Title Start -->
                <div class="row text-center section-title">
                    <div class="col-md-12">
                        <h3>ご予約・お問い合わせ</h3>
                        <div class="separator"></div>
                    </div>
                </div> <!-- End of Section Title -->
                <div class="row text-center section-title">
                <div class="col-md-12">
                <h4>＊ご予約の場合はご希望日時とメニューをご記入ください。<br>
ご来店時にプランをご提案することも可能ですので、お気軽にお問い合わせください。</h4>
  </div></div>
                <!-- Address Section Start -->
                <div class="row address">
                    <!-- Address 1 Start -->
                    <div class="col-md-6 text-center">
                        <div class="addrs">
                            <i class="fa fa-map-marker"></i>
                            <h4>address</h4>
                            <p>〒602-8392 京都市上京区御前通今出川上る北町638-21</p>
                        </div>
                    </div> <!-- End of Address 1 -->
                    <!-- Address 2 Start -->
                    <!--<div class="col-md-4 text-center">
                        <div class="addrs">
                            <i class="fa fa-phone"></i>
                            <h4>tell</h4>
                            <p>090-5168-8882</p>
                        </div>
                    </div> --><!-- End of Address 2 -->
                    <!-- Address 3 Start -->
                    <div class="col-md-6 text-center">
                        <div class="addrs">
                            <i class="fa fa-envelope"></i>
                            <h4>e-mail</h4>
                            <p class="mail">cocoroco.corron@gmail.com</p>
                        </div>
                    </div> <!-- End of Address 3 -->
                </div> <!-- End of Address Section -->
                <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
                <% if @inquiry.errors.any? %>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
                <div class="row contact-sction">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form">

                            <form action="" method="post">
                                <div class="name">
                                <%= f.text_field :name, :id => "name", :class => "form-control", :placeholder => "お名前" %>
                                </div>
                                <div class="email">
                                <%= f.text_field :kana, :id => "kana", :class => "form-control", :placeholder => "お名前(よみがな)" %>
                                </div>
                                <div class="name">
                                <%= f.text_field :email, :id => "email", :class => "form-control", :placeholder => "Email"  %>
                                </div>
                                <div class="email">
                                <%= f.text_field :phone, :id => "phone", :class => "form-control", :placeholder => "電話番号" %>
                                </div>
                                <div class="message">
                                <%= f.text_area :message, :id => "message", :class => "form-control", :size => "30x10", :placeholder => "ご予約・お問い合わせ内容をご記入ください。"   %>

                                </div>
                                <div class="submit text-center">
                                    <%= f.submit '確認', :class => "submit" %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% end %>
            </div> <!-- End of Container -->
        </div>
        <!-- End of Contact Section -->
        
    </section>
    <!-- End of Content Section -->
   <script src="http://maps.google.com/maps/api/js?key=AIzaSyD9ZbZ5eQoh08NQRKzcyVLxOo-_pR8KqVE"></script>
    <script src="https://rawgit.com/HPNeo/gmaps/master/gmaps.js"></script>
    <style>
        @charset "utf-8";
        #map {
              height: 300px;
            width: 100%;
            background: #58B;
        }
    </style>
    <script>
        window.onload = function(){
            var map = new GMaps({
                div: "#map",
                lat: 35.033224,
                lng: 135.736074,
                zoom: 15,
            });
            var contentStr = '<p>' +
            '<h6>salon de Corron</h6><br>' + '<p>〒602-8392 京都府京都市上京区北町（御前通）６３８−２１</p>' + 

    '<a href="https://goo.gl/maps/D227VibWCMy" target="_blank" >拡大地図を表示</a>' +
    '</p>';
            map.addMarker({
                lat: 35.033224,
                lng: 135.736074,

  title: 'Access',
  infoWindow: {content: contentStr

  }
});
        };

    </script>

    <div id="map"></div>
     

    <script>
    /* ---------------------------------------

1 - Adjust Loading Page
2 - Make Header takes the Full Height of the window
3 - Color Switcher && Changing Colors
4 - Sticky Menu
5 - Start Slick Slider Plugin in Slider Section
6 - About Section Skill Bars
7 - Hide menu after clicking on a link
8 - Jquery Smooth Scroll
9 - jquery scroll spy
10 - Parallax Effect
11 - Start numbers animate at fun-facts section
12 - Wow Js Active Jquery
13 - Start Isotop Plugin in Portfolio Section
14 - Start Owl Carousel Plugin in Client Section
15 - Jquery Go Down Button

--------------------------------------- */

(function($) {

    "use strict";

    /* ---------------------------------------------------
        1 - Adjust Loading Page
    ----------------------------------------------------- */
    $(window).on("load", function () {
        $(".loading .loading-wrapper").delay(500).animate({
                top: "-100%"
        }, 1000, "easeInQuart");
        $(".loading").delay(1100).fadeOut(1500);
    });

    /* ----------------------------------------------------------
        2 - Make Header takes the Full Height of the window
    ------------------------------------------------------------ */
    var homeSec = $("#home");
    homeSec.height($(window).height());

    $(window).on("resize", function() {
        homeSec.height($(window).height());
    });
 
 
    /* ---------------------------------------------------
        4 - Sticky Menu
    ----------------------------------------------------- */
    $(".header-area").sticky({topSpacing:0});
    
    /* ---------------------------------------------------
        5 - Start Slick Slider Plugin in Slider Section
    ----------------------------------------------------- */
    $(window).on("load", function () {
        function heroSlider() {

            function slideAnimation(elem) {
                var animEndEv = 'webkitAnimationEnd animationend';
                elem.each(function() {
                    var $this = $(this),
                    $animationType = $this.data('animation');

                    $this.css('opacity', '1').addClass($animationType).one(animEndEv, function() {
                    $this.removeClass($animationType);
                    });
                });
            }
            var $heroSlider = $('.hero-slider'),
                $sliderContent = $('.hero-slider-content'),
                $firstSlideAnimation = $heroSlider.find('.slice:first').find("[data-animation ^= 'animated']");

            $heroSlider.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                var slide = $(slick.$slides.get(currentSlide));
                var $caption = slide.find("[data-animation ^= 'animated']").css('opacity', '0');
            });
            $heroSlider.on('afterChange', function(event, slick, currentSlide, nextSlide) {
                var slide = $(slick.$slides.get(currentSlide));
                var $caption = slide.find("[data-animation ^= 'animated']");
                slideAnimation($caption);
            });

            $(".hero-slider").slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                useCSS: true,
                autoplay: true,
                autoplaySpeed: 7000,
                arrows: true,
                cssEase: 'ease-in-out',
                lazyLoad: 'progressive',
                dots: false,
                fade: true,
                infinite: true,
                pauseOnHover: false,
                prevArrow: $('.prev'),
                nextArrow: $('.next')
            }); 

            slideAnimation($firstSlideAnimation);
        }

        heroSlider();
    });
    
    /* ---------------------------------------------------
        6 - About Section Skill Bars  
    ----------------------------------------------------- */
    $(".about").appear(function () {
          $(".skillbar").skillBars();
    }, {
          accX: 0,
          accY: -350
    });
    
    /* ---------------------------------------------------
        7 - Hide menu after clicking on a link 
    ----------------------------------------------------- */
    $("ul.nav li a").on("click", function () {
        $("#myNavbar").collapse("hide");
    });

    /* ---------------------------------------------------
        8 - Jquery Smooth Scroll
    ----------------------------------------------------- */
    $("li.smooth-menu > a").on("click", function (event) {
        var $anchor = $(this);
        var headerH = '56';
        $("html, body").stop().animate({
            scrollTop : $($anchor.attr('href')).offset().top - headerH + "px"
        }, 1200, 'easeInOutExpo');

        event.preventDefault();
    });       

    /* ---------------------------------------------------
        9 - jquery scroll spy
    ----------------------------------------------------- */
    $(window).on("scroll", function () {
        $("body").scrollspy({
            target: '.navbar-collapse',
            offset: 94
        }); 
    });

    /* ---------------------------------------------------
        10 - Parallax Effect
    ----------------------------------------------------- */
    var parallaxHome        = $("#home.parallax"),
        parallaxFacts       = $("#fun-facts.parallax"),
        parallaxTest        = $("#client.parallax");
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        parallaxHome.css({"background-attachment": "scroll"});
        parallaxFacts.css({"background-attachment": "scroll"});
        parallaxTest.css({"background-attachment": "scroll"});
    } else {
        parallaxHome.parallax("50%", 0.3);
        parallaxFacts.parallax("50%", 0.3);
        parallaxTest.parallax("100%", 0.2);
    }
    
    /* ---------------------------------------------------
        11 - Start numbers animate at fun-facts section 
    ----------------------------------------------------- */
    $(".fun-facts").appear(function () {
          $(".timer").countTo();
    }, {
          accX: 0,
          accY: -350
    });

    /* ---------------------------------------------------
        12 - Wow Js Active Jquery
    ----------------------------------------------------- */
    var wow = new WOW(
        {
        boxClass:     'wow',      // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset:       0,          // distance to the element when triggering the animation (default is 0)
        mobile:       true,       // trigger animations on mobile devices (default is true)
        live:         true,       // act on asynchronously loaded content (default is true)
        callback:     function(box) {
        // the callback is fired every time an animation is started
        // the argument that is passed in is the DOM node being animated
        },
        scrollContainer: null // optional scroll container selector, otherwise use window
        }
    );
    wow.init();  
    
    /* ---------------------------------------------------
        13 - Start Isotop Plugin in Portfolio Section
    ----------------------------------------------------- 
    //active isotop js
    $('.porfolio-items').isotope({
        itemSelector: '.single-porfolio',
        layoutMode: 'fitRows',
    });

    //isoptop click function
    $(".portfolio-filter > ul.nav > li").on("click", function () {
        $(".portfolio-filter > ul.nav > li").removeClass("active");
        $(this).addClass("active");

        var selector = $(this).attr("data-filter");
        $(".porfolio-items").isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        return false;
    });
    */
    /* ---------------------------------------------------
        14 - Start Owl Carousel Plugin in Client Section
    ----------------------------------------------------- */
    $(".client-group").owlCarousel({
        navigation : false,
        autoPlay: 3000,
        slideSpeed : 1500,
        pagination: true,
        paginationSpeed : 1500,
        singleItem: true 
    });
    
    /* ---------------------------------------------------
        15 - Jquery Go Down Button
    ----------------------------------------------------- */
    $("a.scroll-link").on("click", function (event) {
        var $anchor = $(this);
        var headerH = '56';
        $("html, body").stop().animate({
            scrollTop : $($anchor.attr('href')).offset().top - headerH + "px"
        }, 1200, 'easeInOutExpo');

        event.preventDefault();
    });

})(jQuery);


    </script>


